<html ng-app="listApp">
    <head>
        <title>Precalc Book</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://bootswatch.com/cyborg/bootstrap.min.css" rel="stylesheet">
    </head>
    <body ng-controller="ListController as ctrl">
        <br/>
        <div class="container">
            <h3>mdc32</h3>
            <h5>Precalc Book</h5>
            <div class="row">
                <div class="col-md-6" ng-repeat="list in ctrl.chapters">
                    <ul class="list-group">
                        <div></div>
                        <li ng-repeat="chapter in list" class="list-group-item">
                            <h6>
                            <a href="{{chapter.path}}" class="">{{chapter.title}}</a>
                            <small>{{chapter.pages}}</small>
                            </h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script>
            /*global angular*/
            angular.module("listApp", [])
                .controller('ListController', [function() {
                    var self = this;
                    self.chapters = [
                        [{title: "Functions and Their Graphs", pages: "1-126", path: "Chapter1.pdf"},
                        {title: "Polynomial and Rational Functions", pages: "127-216", path: "Chapter2.pdf"},
                        {title: "Exponential and Logarithmic Functions", pages: "217-280", path: "Chapter3.pdf"},
                        {title: "Trigonometry", pages: "281-372", path: "Chapter4.pdf"},
                        {title: "Analytic Trigonometry", pages: "373-428", path: "Chapter5.pdf"},
                        {title: "Additional Topics in Trigonometry", pages: "429-494", path: "Chapter6.pdf"}],
                        
                        [{title: "Systems of Equations and Inequalities", pages: "495-570", path: "Chapter7.pdf"},
                        {title: "Matrices and Determinants", pages: "571-640", path: "Chapter8.pdf"},
                        {title: "Sequences, Series, and Probability", pages: "641-726", path: "Chapter9.pdf"},
                        {title: "Topics in Analytic Geometry", pages: "727-810", path: "Chapter10.pdf"},
                        {title: "Appendix", pages: "A1-A76", path: "Appendix.pdf"},
                        {title: "Answers", pages: "A77-A226", path: "Answers.pdf"}]
                        ];
                }]);
        </script>
    </body>
</html>
