<html ng-app="listApp">
    <head>
        <title>Calculus Book</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet">
    </head>
    <body ng-controller="ListController as ctrl">
        <br/>
        <div class="container">
            <h3>mdc32</h3>
            <h5>AP Calculus Book</h5>
            <div class="row">
                <div class="col-md-6" ng-repeat="list in ctrl.chapters">
                    <ul class="list-group">
                        <div></div>
                        <li ng-repeat="chapter in list" class="list-group-item">
                            <h6>
                            <a href="{{chapter.path}}" class="">{{chapter.title}}</a>
                            <small>{{chapter.pages}}</small>
                            </h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script>
            /*global angular*/
            angular.module("listApp", [])
                .controller('ListController', [function() {
                    var self = this;
                    self.chapters = [
                        [{title: "Functions and Models", pages: "10-81", path: "Chapter01.pdf"},
                        {title: "Limits and Derivatives", pages: "82-171", path: "Chapter02.pdf"},
                        {title: "Differentiation Rules", pages: "172-269", path: "Chapter03.pdf"},
                        {title: "Applications of Differentiation", pages: "270-353", path: "Chapter04.pdf"},
                        {title: "Integrals", pages: "354-413", path: "Chapter05.pdf"},
                        {title: "Applications of Integration", pages: "414-451", path: "Chapter06.pdf"},
                        {title: "Techniques of Integration", pages: "452-523", path: "Chapter07.pdf"},
                        {title: "Further Applications of Integration", pages: "524-565", path: "Chapter08.pdf"},
                        {title: "Differential Equations", pages: "566-619", path: "Chapter09.pdf"}],
                        
                        [{title: "Parametric Equations and Polar Coordinates", pages: "620-673", path: "Chapter10.pdf"},
                        {title: "Infinite Sequences and Series", pages: "674-763", path: "Chapter11.pdf"},
                        {title: "Vectors and the Geometry of Space", pages: "764-815", path: "Chapter12.pdf"},
                        {title: "Vector Functions", pages: "816-853", path: "Chapter13.pdf"},
                        {title: "Partial Derivatives", pages: "854-949", path: "Chapter14.pdf"},
                        {title: "Multiple Integrals", pages: "950-1025", path: "Chapter15.pdf"},
                        {title: "Vector Calculus", pages: "1026-1109", path: "Chapter16.pdf"},
                        {title: "Second Order Differential Equations", pages: "1110-1138", path: "Chapter17.pdf"},
                        {title: "Appendix", pages: "A1-A130", path: "Appendix.pdf"}]
                        ];
                }]);
        </script>
    </body>
</html>
